@model IEnumerable<SacramentPlanner_ErikMartinezAndDavidAruldass.Models.Bishopric>

@{
    ViewData["Title"] = "Index";
}

<h1>Current Bishop</h1>

<p>
    <a asp-action="Create">Add a New Bishop</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BishopricName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Released)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BishopricName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Released)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BishopricId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BishopricId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BishopricId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
